<% content_for :page_title, '分析' %>
<div class="col-lg-4 col-md-6 mb-4">
  <div class="card">
    <h5 class="card-header">ツイート数</h5>
    <%= pie_chart @tweet_charts, donut: true, suffix: '人' %>
  </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
  <div class="card">
    <h5 class="card-header">フォロー数</h5>
    <%= pie_chart @follow_charts, donut: true, suffix: '人' %>
  </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
  <div class="card">
    <h5 class="card-header">フォロワー数</h5>
    <%= pie_chart @follower_charts, donut: true, suffix: '人' %>
  </div>
</div>
