<div class="card">
  <h5 class="card-header">被RT数・被いいね数推移</h5>
  <div class="card-body">
    <%= line_chart [
      { name: '被RT数', data: @summaries.map { |it| [it.result_date, it.retweet_count] }, points: false },
      { name: '被いいね数', data: @summaries.map { |it| [it.result_date, it.favorite_count] }, points: false },
    ], colors: ['#00ebc7', '#FF3761'] %>
  </div>
</div>
