<div class="card">
  <h3 class="card-header">被RT数・被いいね数推移</h3>
  <div class="card-body">
    <%= line_chart [
      { name: '被RT数', data: @user_summaries.map { |it| [it.result_date, it.retweet_count] } },
      { name: '被いいね数', data: @user_summaries.map { |it| [it.result_date, it.favorite_count] } },
    ] %>
  </div>
</div>
